/* The main background */
body {
  height:100%;
  background-color: #eaeffa;
}

#container {
  margin: 0;
  min-height: 100%;
  position:relative;
}

#topbar {
  background-color: #3385ff;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#mainbody {
  padding-bottom:40px
}

/* The title of the page*/
#title a {
  color: white;
  font-size: 40px;
  font-family: fantasy, Arial;
  position: fixed;
  left: 20px;
  top: 25px;
  z-index: 2;
  text-decoration: none;
}

/* The title of the page when mouse hovers over it*/
#title:hover a {
  color: red;
  font-size: 40px;
  font-family: fantasy;
  position: fixed;
  left: 20px;
  top: 25px;
  width: 100%;
  z-index: 2;
  text-decoration: none;
}

/* The Syllabus link*/
#syllabus a {
  color: black;
  text-decoration: none;
  position: absolute;
}

/* The Syllabus link when the mouse hovers over it*/
#syllabus:hover a {
  color: red;
  text-decoration: none;
  position: absolute;
}

/* Footer */
#footer {
  position:absolute;
  bottom:0;
  height: 0;
  text-decoration: none;
  color: black;
}

/* Dropdown Menu */
.menu {
  background-color: #248f24;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-family: Arial;
}

/* Position of the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
}

/* Menu Content */
.menu-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

/* Content inside the dropdown menu */
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
}

/* Change in color of content links on mouse hover */
.menu-content a:hover {
  background-color: #b3cccc;
  font-weight: bold;
  color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .menu-content {
  display: block;
}

/* Change the background color of the dropdown bar when the dropdown content is shown */
.dropdown:hover .menu {
  background-color: #33cc33;
}

#description h2 {
  text-decoration: underline;
}

#description p, p1, p2{
  font-size: 16px;
  font-family: Arial;
}

#instructor h2 {
  text-decoration: underline;
}

#instructor ul{
  font-size: 16px;
  font-family: Arial;
}
