body {
  background-color: #eaeffa;
}

#topbar {
  background-color: #3385ff;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#title a {
  color: white;
  font-size: 40px;
  font-family: fantasy;
  position: fixed;
  left: 20px;
  top: 25px;
  width: 100%;
  z-index: 2;
  text-decoration: none;
}

/* Footer */
#footer {
  position:absolute;
  bottom:0;
  height:0px;
}

/* Dropdown Menu */
.drophover {
  background-color: #248f24;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: Arial;
}

/* Position of the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Menu Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Content inside the dropdown menu */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of content links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drophover {
  background-color: #33cc33;
}
