/* The main background */
body {
  background-color: #eaeffa;
}

#topbar {
  background-color: #3385ff;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;

}

/* The title of the page*/
#title a {
  color: white;
  font-size: 40px;
  font-family: fantasy;
  position: fixed;
  left: 20px;
  top: 25px;
  z-index: 2;
  text-decoration: none;
}

/* The title of the page when mouse hovers over it*/
#title:hover a {
  color: red;
  font-size: 40px;
  font-family: fantasy;
  position: fixed;
  left: 20px;
  top: 25px;
  width: 100%;
  z-index: 2;
  text-decoration: none;
}

h1{
  font-family: Arial;
}

li a {
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 18px;
  width: 0;
}

li:hover a{
  text-decoration: none;
  color: red;
  margin: 0;
  font-size: 18px;
}

/* Footer */
#footer {
  position:absolute;
  bottom:0px;
  height:0px;
  text-decoration: none;
  color: black;
}
